HAMCLOCK_RPIHAMCLOCK_GIT_URL=https://github.com/bubiwahn/rpi-hamclock-web.git  
HAMCLOCK_ESPHAMCLOCK_ZIP_URL=https://www.clearskyinstitute.com/ham/HamClock/ESPHamClock.zip
HAMCLOCK_BUILD_TARGET=hamclock-web-1600x960
HAMCLOCK_DESKTOP_DIR=~/Desktop
HAMCLOCK_DESKTOP_FILE=hamclock.desktop
HAMCLOCK_AUTOSTART_DIR=~/.config/autostart
